#==============================================================================
# KTH Royal Institute of Technology Stockholm
# UCF definitions file for the PoGO+ minion board gateware
#==============================================================================
#
# author: Theodor Stana (stana@kth.se)
#
# description:
#
#==============================================================================
# GNU LESSER GENERAL PUBLIC LICENSE
#==============================================================================
# This source file is free software; you can redistribute it and/or modify it
# under the terms of the GNU Lesser General Public License as published by the
# Free Software Foundation; either version 2.1 of the License, or (at your
# option) any later version. This source is distributed in the hope that it
# will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
# of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU Lesser General Public License for more details. You should have
# received a copy of the GNU Lesser General Public License along with this
# source; if not, download it from http://www.gnu.org/licenses/lgpl-2.1.html
#==============================================================================
# TODO: -
#==============================================================================

#==============================================================================
# Clocks and resets
#==============================================================================

#PACE: Start of Constraints generated by PACE

#PACE: Start of PACE I/O Pin Assignments
NET "adc_pwr_en_o<0>"  LOC = "P54"  ;
NET "adc_pwr_en_o<1>"  LOC = "P53"  ;
NET "adc_pwr_en_o<2>"  LOC = "P52"  ;
NET "adc_pwr_en_o<3>"  LOC = "P51"  ;
NET "adc_pwr_en_o<4>"  LOC = "P50"  ;
NET "adc_pwr_en_o<5>"  LOC = "P49"  ;
NET "clk_read_i"       LOC = "P111"  ;
NET "clk_shift_i"      LOC = "P112"  ;
NET "data_i"           LOC = "P113"  ;
NET "pmt_pwr_en_o<0>"  LOC = "P71"  ;
NET "pmt_pwr_en_o<1>"  LOC = "P70"  ;
NET "pmt_pwr_en_o<2>"  LOC = "P69"  ;
NET "pmt_pwr_en_o<3>"  LOC = "P68"  ;
NET "pmt_pwr_en_o<4>"  LOC = "P61"  ;
NET "pmt_pwr_en_o<5>"  LOC = "P64"  ;
NET "temp_i<0>"        LOC = "P138"  ;
NET "temp_i<10>"       LOC = "P125"  ;
NET "temp_i<11>"       LOC = "P124"  ;
NET "temp_i<12>"       LOC = "P121"  ;
NET "temp_i<13>"       LOC = "P120"  ;
NET "temp_i<14>"       LOC = "P119"  ;
NET "temp_i<15>"       LOC = "P118"  ;
NET "temp_i<16>"       LOC = "P117"  ;
NET "temp_i<17>"       LOC = "P116"  ;
NET "temp_i<18>"       LOC = "P115"  ;
NET "temp_i<1>"        LOC = "P136"  ;
NET "temp_i<2>"        LOC = "P134"  ;
NET "temp_i<3>"        LOC = "P133"  ;
NET "temp_i<4>"        LOC = "P132"  ;
NET "temp_i<5>"        LOC = "P131"  ;
NET "temp_i<6>"        LOC = "P130"  ;
NET "temp_i<7>"        LOC = "P129"  ;
NET "temp_i<8>"        LOC = "P128"  ;
NET "temp_i<9>"        LOC = "P126"  ;
NET "temp_o"           LOC = "P110"  ;

NET "adc_pwr_en_o<0>"  IOSTANDARD = LVCMOS33;
NET "adc_pwr_en_o<1>"  IOSTANDARD = LVCMOS33;
NET "adc_pwr_en_o<2>"  IOSTANDARD = LVCMOS33;
NET "adc_pwr_en_o<3>"  IOSTANDARD = LVCMOS33;
NET "adc_pwr_en_o<4>"  IOSTANDARD = LVCMOS33;
NET "adc_pwr_en_o<5>"  IOSTANDARD = LVCMOS33;
NET "clk_read_i"       IOSTANDARD = LVCMOS33;
NET "clk_shift_i"      IOSTANDARD = LVCMOS33;
NET "data_i"           IOSTANDARD = LVCMOS33;
NET "pmt_pwr_en_o<0>"  IOSTANDARD = LVCMOS33;
NET "pmt_pwr_en_o<1>"  IOSTANDARD = LVCMOS33;
NET "pmt_pwr_en_o<2>"  IOSTANDARD = LVCMOS33;
NET "pmt_pwr_en_o<3>"  IOSTANDARD = LVCMOS33;
NET "pmt_pwr_en_o<4>"  IOSTANDARD = LVCMOS33;
NET "pmt_pwr_en_o<5>"  IOSTANDARD = LVCMOS33;
NET "temp_i<0>"        IOSTANDARD = LVCMOS33;
NET "temp_i<10>"       IOSTANDARD = LVCMOS33;
NET "temp_i<11>"       IOSTANDARD = LVCMOS33;
NET "temp_i<12>"       IOSTANDARD = LVCMOS33;
NET "temp_i<13>"       IOSTANDARD = LVCMOS33;
NET "temp_i<14>"       IOSTANDARD = LVCMOS33;
NET "temp_i<15>"       IOSTANDARD = LVCMOS33;
NET "temp_i<16>"       IOSTANDARD = LVCMOS33;
NET "temp_i<17>"       IOSTANDARD = LVCMOS33;
NET "temp_i<18>"       IOSTANDARD = LVCMOS33;
NET "temp_i<1>"        IOSTANDARD = LVCMOS33;
NET "temp_i<2>"        IOSTANDARD = LVCMOS33;
NET "temp_i<3>"        IOSTANDARD = LVCMOS33;
NET "temp_i<4>"        IOSTANDARD = LVCMOS33;
NET "temp_i<5>"        IOSTANDARD = LVCMOS33;
NET "temp_i<6>"        IOSTANDARD = LVCMOS33;
NET "temp_i<7>"        IOSTANDARD = LVCMOS33;
NET "temp_i<8>"        IOSTANDARD = LVCMOS33;
NET "temp_i<9>"        IOSTANDARD = LVCMOS33;
NET "temp_o"           IOSTANDARD = LVCMOS33;

#PACE: Start of PACE Area Constraints

#PACE: Start of PACE Prohibit Constraints

#PACE: End of Constraints generated by PACE
