NET "lvds_i<0>"   LOC = "L4" | IOSTANDARD = LVTTL ;
NET "lvds_i<1>"   LOC = "L3" | IOSTANDARD = LVTTL ;
NET "lvds_i<2>"   LOC = "L2" | IOSTANDARD = LVTTL ;
NET "lvds_i<3>"   LOC = "K4" | IOSTANDARD = LVTTL ;
NET "lvds_i<4>"   LOC = "K3" | IOSTANDARD = LVTTL ;
NET "lvds_i<5>"   LOC = "K2" | IOSTANDARD = LVTTL ;
NET "lvds_i<6>"   LOC = "K1" | IOSTANDARD = LVTTL ;
NET "lvds_i<7>"   LOC = "J4" | IOSTANDARD = LVTTL ;
NET "lvds_i<8>"   LOC = "G2" | IOSTANDARD = LVTTL ;
NET "lvds_i<9>"   LOC = "G1" | IOSTANDARD = LVTTL ;
NET "lvds_i<10>"  LOC = "F5" | IOSTANDARD = LVTTL ;
NET "lvds_i<11>"  LOC = "F4" | IOSTANDARD = LVTTL ;
NET "lvds_i<12>"  LOC = "F3" | IOSTANDARD = LVTTL ;
NET "lvds_i<13>"  LOC = "F2" | IOSTANDARD = LVTTL ;
NET "lvds_i<14>"  LOC = "E4" | IOSTANDARD = LVTTL ;
NET "lvds_i<15>"  LOC = "E3" | IOSTANDARD = LVTTL ;

NET "lvds_o<0>"   LOC = "J3"  | IOSTANDARD = LVTTL ;
NET "lvds_o<1>"   LOC = "J2"  | IOSTANDARD = LVTTL ;
NET "lvds_o<2>"   LOC = "J1"  | IOSTANDARD = LVTTL ;
NET "lvds_o<3>"   LOC = "H4"  | IOSTANDARD = LVTTL ;
NET "lvds_o<4>"   LOC = "H3"  | IOSTANDARD = LVTTL ;
NET "lvds_o<5>"   LOC = "H1"  | IOSTANDARD = LVTTL ;
NET "lvds_o<6>"   LOC = "G4"  | IOSTANDARD = LVTTL ;
NET "lvds_o<7>"   LOC = "G3"  | IOSTANDARD = LVTTL ;
NET "lvds_o<8>"   LOC = "E2"  | IOSTANDARD = LVTTL ;
NET "lvds_o<9>"   LOC = "E1"  | IOSTANDARD = LVTTL ;
NET "lvds_o<10>"  LOC = "D7"  | IOSTANDARD = LVTTL ;
NET "lvds_o<11>"  LOC = "D6"  | IOSTANDARD = LVTTL ;
NET "lvds_o<12>"  LOC = "D5"  | IOSTANDARD = LVTTL ;
NET "lvds_o<13>"  LOC = "D3"  | IOSTANDARD = LVTTL ;
NET "lvds_o<14>"  LOC = "D2"  | IOSTANDARD = LVTTL ;
NET "lvds_o<15>"  LOC = "D1"  | IOSTANDARD = LVTTL ;
NET "lvds_o<16>"  LOC = "B13" | IOSTANDARD = LVTTL ;
NET "lvds_o<17>"  LOC = "A13" | IOSTANDARD = LVTTL ;
NET "lvds_o<18>"  LOC = "D12" | IOSTANDARD = LVTTL ;
NET "lvds_o<19>"  LOC = "C12" | IOSTANDARD = LVTTL ;
NET "lvds_o<20>"  LOC = "B12" | IOSTANDARD = LVTTL ;
NET "lvds_o<21>"  LOC = "A12" | IOSTANDARD = LVTTL ;
NET "lvds_o<22>"  LOC = "E11" | IOSTANDARD = LVTTL ;
NET "lvds_o<23>"  LOC = "D11" | IOSTANDARD = LVTTL ;
NET "lvds_o<24>"  LOC = "C11" | IOSTANDARD = LVTTL ;
NET "lvds_o<25>"  LOC = "B11" | IOSTANDARD = LVTTL ;
NET "lvds_o<26>"  LOC = "E10" | IOSTANDARD = LVTTL ;
NET "lvds_o<27>"  LOC = "D10" | IOSTANDARD = LVTTL ;
NET "lvds_o<28>"  LOC = "C10" | IOSTANDARD = LVTTL ;
NET "lvds_o<29>"  LOC = "B10" | IOSTANDARD = LVTTL ;
NET "lvds_o<30>"  LOC = "A10" | IOSTANDARD = LVTTL ;
NET "lvds_o<31>"  LOC = "A9"  | IOSTANDARD = LVTTL ;

